.about__experience {
    display: flex;
    gap: 30px;
}

.experience__item {
    flex-basis: calc((100% - 90px) / 4);
}

.experience__title {
    @include font(14px, calc(16 / 14), 700, 0.03em);
    text-transform: uppercase;
    color: var(--gray-black);
    margin-bottom: 10px;
}

.experience__description {
    @include font(14px, calc(24 / 14), null, 0.03em);
}

.experience__box {
    width: 270px;
    height: 120px;
    @extend %align-list;
    justify-content: center;
    background-color: var(--team-background);
    border-radius: 4px;
    margin-bottom: 30px;
}