.header {
    background-color: var(--gray-white);
    border-bottom: 1px solid var(--ramka-top);
}

.header-cont {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--gray-black-logo);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo-part {
    color: var(--gray-blue);
}

.header-navigation {
    display: flex;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--gray-black);
    padding: 32px 0;
    display: block;
    transition: color var(--transition-param);
    position: relative;
}

.header-link:hover,
.header-link:focus {
    color: var(--gray-blue);
}

.current {
    color: var(--gray-blue);
}

.header-link.current:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--gray-blue);
    border-radius: 2px;
    display: block;
}

.header-adress {
    display: flex;
    gap: 50px;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: inherit;
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--transition-param);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--gray-blue);
}

/* .header-tel:hover .tel-icon,
.header-tel:focus .tel-icon {
  fill: currentColor;
} */

.tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: inherit;
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--transition-param);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--gray-blue);
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* .header-mail:hover .mail-icon,
.header-mail:focus .mail-icon {
  fill: currentColor;
} */